<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="style/global.css" rel="stylesheet">
</head>
<body>
<section class="w-[90%] md:w-[70%] lg:w-[60%] my-32 mx-auto">
    <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative
        platform. Link issues across Jira and ingest data from other software development tools, so your IT support and
        operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
        <div class="col-span-2">
            <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support
                and operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <p class="mb-3 text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the
                complexity
                of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes
                with
                ease, with a complete audit trail for every change.</p>
        </div>
        <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative
            platform. Link issues across Jira and ingest data from other software development tools, so your IT support
            and
            operations teams have richer contextual information to rapidly respond to requests, incidents, and
            changes.</p>
    </div>
</section>
<section class="my-32">
    <dl class="w-[90%] mx-auto md:w-[60%] text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
        <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
            <dd class="text-lg font-semibold">abolfazl19qm@gmail.com</dd>
        </div>
        <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Home address</dt>
            <dd class="text-lg font-semibold">92 Miles Drive, Newark, NJ 07103, California, USA</dd>
        </div>
        <div class="flex flex-col pt-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Phone number</dt>
            <dd class="text-lg font-semibold">+98 910 554 3050</dd>
        </div>
    </dl>
</section>
</body>
</html>
